workflows/privacy-policy-analyzer.json
{
  "name": "privacy-policy-analyzer-batch",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4704,
        384
      ],
      "id": "96c77ccd-d611-41fe-8d10-f8b0190184f2",
      "name": "🚀 Trigger — Run Batch Assessment"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "mimeType = 'application/vnd.google-apps.folder' and '1YOYAT1DxmLjFRfoN3irpm3xGbafVZv7_' in parents",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4480,
        384
      ],
      "id": "80bb1d79-bfa6-46ab-a220-d367b555ed29",
      "name": "📂 List All Vendor Folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "goGjaQCO0aHJ8wHa",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='{{ $json.id }}' in parents",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4256,
        384
      ],
      "id": "d8d312e3-4a9e-4db1-8824-65fd6ddd2db9",
      "name": "🔍 Check If Assessment Exists",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "goGjaQCO0aHJ8wHa",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst oneYearAgo = $now.minus({years: 1}).toFormat('yyyy-MM-dd');\n\nconst vendorMap = {};\n\nfor (const item of items) {\n  const name = item.json.name || '';\n  if (!name.includes('privacy-assessment')) continue;\n  \n  const vendorMatch = name.match(/^(.+?)-privacy-assessment-(\\d{4}-\\d{2}-\\d{2})/i);\n  if (!vendorMatch) continue;\n  \n  const vendor = vendorMatch[1].toLowerCase();\n  const date = vendorMatch[2];\n  \n  if (!vendorMap[vendor] || date > vendorMap[vendor]) {\n    vendorMap[vendor] = date;\n  }\n}\n\nconst vendorFolders = $('📂 List All Vendor Folders').all();\n\nreturn vendorFolders.map(folder => {\n  const folderName = folder.json.name.toLowerCase();\n  const mostRecent = vendorMap[folderName];\n  const skipVendor = mostRecent ? mostRecent > oneYearAgo : false;\n  \n  return {\n    json: {\n      folderId: folder.json.id,\n      vendorName: folder.json.name,\n      skipVendor,\n      mostRecentAssessment: mostRecent || null\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4032,
        384
      ],
      "id": "e9ddfada-a1a8-41ea-a63d-5a30563e4ba5",
      "name": "🗓️ Check Assessment Age"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-no-assessment",
              "leftValue": "={{ $json.skipVendor }}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3808,
        384
      ],
      "id": "b26a8e0b-35a3-4a06-a486-c1b2bf3db0ca",
      "name": "✅ Skip If Already Assessed?"
    },
    {
      "parameters": {
        "jsCode": "console.log(`Skipping ${$json.vendorName} — assessment already exists`);\nreturn [{ json: { ...$json, skipped: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3584,
        448
      ],
      "id": "15e250c8-41ae-4e3e-9336-7678247f0de5",
      "name": "⏭️ Skip Vendor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3360,
        384
      ],
      "id": "a0da590e-2e8e-4e2c-8778-02fa21d17618",
      "name": "🔁 Loop Over Vendors"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 100,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Return ONLY the primary domain for this company. No explanation, no punctuation, just the domain. Examples: Salesforce -> salesforce.com, Microsoft -> microsoft.com, Cyera -> cyera.com\\n\\nCompany: {{ $json.vendorName }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2912,
        16
      ],
      "id": "bc1ae148-9d71-4c06-b1e6-cab7708d9c7d",
      "name": "🧠 AI — Resolve Vendor Domain"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst domain = response.content[0].text.trim().toLowerCase()\n  .replace(/^https?:\\/\\//, '')\n  .replace(/\\/$/, '');\n\nconst vendorName = $('🔁 Loop Over Vendors').first().json.vendorName;\nconst folderId = $('🔁 Loop Over Vendors').first().json.folderId;\n\nconst candidates = [\n  `https://www.${domain}/legal/privacy-policy`,\n  `https://www.${domain}/legal/privacy`,\n  `https://${domain}/legal/privacy-policy`,\n  `https://${domain}/legal/privacy`,\n  `https://www.${domain}/privacy-policy`,\n  `https://www.${domain}/privacy`,\n  `https://${domain}/privacy-policy`,\n  `https://${domain}/privacy`,\n  `https://www.${domain}/privacy-notice`,\n  `https://www.${domain}/policies/privacy`,\n  `https://www.${domain}/about/privacy`,\n  `https://www.${domain}/trust/privacy`\n];\n\nreturn [{ json: { domain, vendorName, folderId, candidates, currentTier: 1, currentIndex: 0 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2688,
        16
      ],
      "id": "80b4f462-5263-4d82-95e5-e718982d5e40",
      "name": "🗂️ Build URL Candidates"
    },
    {
      "parameters": {
        "url": "={{ $json.candidates[$json.currentIndex] }}",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2464,
        16
      ],
      "id": "f153bdb1-33da-4a05-9fbf-92b8828b3317",
      "name": "🌐 Tier 1 — Try Common Paths",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first();\nconst prevData = $('🗂️ Build URL Candidates').first().json;\nconst responseData = result.json && result.json.data ? result.json.data : '';\nconst successUrl = prevData.candidates[prevData.currentIndex];\n\nconst isSubstantial = responseData.length > 5000;\nconst isBadPath = /(\\/platform|\\/product|\\/solution|\\/service|\\/feature|\\/blog|\\/about\\/(?!privacy)|\\/resources)/i.test(successUrl);\nconst is404 = /<title>.*404.*<\\/title>/i.test(responseData) || /error_404/.test(responseData);\n\nconst hasPrivacyContent = (\n  /privacy\\s+policy/i.test(responseData) &&\n  (/data\\s+subject|lawful\\s+basis|legitimate\\s+interest|data\\s+controller|data\\s+processor/i.test(responseData) ||\n   /gdpr|ccpa|personal\\s+data.*collect|we\\s+collect.*personal/i.test(responseData))\n);\n\nconst success = isSubstantial && !isBadPath && !is404 && hasPrivacyContent;\n\nif (success) {\n  return [{\n    json: {\n      ...prevData,\n      policyUrl: successUrl,\n      discoveryTier: 1,\n      discovered: true\n    }\n  }];\n}\n\nconst nextIndex = prevData.currentIndex + 1;\nif (nextIndex < prevData.candidates.length) {\n  return [{ json: { ...prevData, currentIndex: nextIndex, discovered: false } }];\n}\n\nreturn [{ json: { ...prevData, discovered: false, tier1Failed: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2240,
        16
      ],
      "id": "8d2f0cf6-dbcf-4dfe-b606-94036dc3af90",
      "name": "🔎 Check Tier 1 Result"
    },
    {
      "parameters": {
        "url": "=https://{{ $json.domain }}/robots.txt",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          },
          "timeout": 8000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1792,
        96
      ],
      "id": "9e999e7d-0b9f-48ee-8ebd-d46d0194a531",
      "name": "🤖 Tier 2 — Fetch robots.txt",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const robotsResult = $input.first();\nconst prevData = $('🔎 Check Tier 1 Result').first().json;\n\nlet foundUrl = null;\n\nif (robotsResult.json && robotsResult.json.data) {\n  const lines = robotsResult.json.data.split('\\n');\n  for (const line of lines) {\n    if (line.toLowerCase().startsWith('sitemap:')) {\n      const sitemapUrl = line.split(':').slice(1).join(':').trim();\n      return [{ json: { ...prevData, sitemapUrl, tier2Source: 'robots' } }];\n    }\n  }\n  \n  const privacyMatch = robotsResult.json.data.match(/https?:\\/\\/[^\\s]*privac[^\\s]*/i);\n  if (privacyMatch) {\n    foundUrl = privacyMatch[0];\n  }\n}\n\nif (foundUrl) {\n  return [{ json: { ...prevData, policyUrl: foundUrl, discoveryTier: 2, discovered: true } }];\n}\n\nreturn [{ json: { ...prevData, discovered: false, tier2Failed: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1568,
        96
      ],
      "id": "3bd543e1-784a-436f-b982-4dd835bb8655",
      "name": "🔎 Parse robots.txt for Privacy URL"
    },
    {
      "parameters": {
        "url": "=https://{{ $json.domain }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1344,
        96
      ],
      "id": "72a2e7f9-443c-4302-ad2b-bd826c16fc70",
      "name": "🏠 Tier 3 — Scrape Homepage",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const homepageResult = $input.first();\nconst prevData = $('🔎 Parse robots.txt for Privacy URL').first().json;\n\nlet foundUrl = null;\n\nif (homepageResult.json && homepageResult.json.data) {\n  const html = homepageResult.json.data;\n  \n  const linkRegex = /href=[\"']([^\"']*privac[^\"']*)[\"']/gi;\n  let match;\n  while ((match = linkRegex.exec(html)) !== null) {\n    const href = match[1];\n    if (href.startsWith('http')) {\n      foundUrl = href;\n    } else if (href.startsWith('/')) {\n      foundUrl = `https://${prevData.domain}${href}`;\n    }\n    break;\n  }\n}\n\nif (foundUrl) {\n  return [{ json: { ...prevData, policyUrl: foundUrl, discoveryTier: 3, discovered: true } }];\n}\n\nreturn [{ \n  json: { \n    ...prevData, \n    discovered: false, \n    allTiersFailed: true,\n    manualReviewReason: `Could not auto-discover privacy policy URL for ${prevData.vendorName}.`\n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        96
      ],
      "id": "730cef91-3e2c-411f-a6cd-9a0aaf5d570b",
      "name": "🔎 Parse Homepage for Privacy Link"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ebda5a2c-7a53-4c07-aa60-c1764e4f3937",
              "leftValue": "={{ $json.policyUrl.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -896,
        96
      ],
      "id": "03f38947-a99e-4a39-8f8c-2c0017f37721",
      "name": "URL Discovered?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://browserless:3000/content?token=privacy-lens&stealth=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.policyUrl }}"
            },
            {
              "name": "waitForTimeout",
              "value": "10000"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -672,
        -80
      ],
      "id": "71355a3b-fe2a-4d0f-88f9-1af10582d422",
      "name": "📥 Fetch Privacy Policy",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const policyText = $input.first().json.data;\nconst ctx = $input.first().json;\nconst vendor = ctx.vendorName;\nconst folderId = ctx.folderId;\nconst policyUrl = ctx.policyUrl;\nconst assessmentDate = $now.toFormat('yyyy-MM-dd');\n\nconst prompt = `You are a privacy risk analyst. Analyze the following privacy policy and score it across 8 dimensions. Return ONLY valid JSON, no other text, no markdown code fences.\n\nSCORING RUBRIC (1-5):\n1 = Missing or absent\n2 = Vague or inadequate\n3 = Partial - present but incomplete\n4 = Good - mostly complete\n5 = Strong - comprehensive and specific\n\nDIMENSIONS TO SCORE:\nD1 - Data Minimization: Are data categories specific? Are retention windows defined?\nD2 - Sub-Processor Transparency: Is a named sub-processor list published? Change notification mechanism?\nD3 - Data Subject Rights: Are DSAR/deletion/portability mechanisms described with timelines?\nD4 - Transfer Mechanisms: Are cross-border transfer mechanisms named (SCCs, BCRs, adequacy)?\nD5 - Breach Notification: Are customer notification timelines and obligations stated?\nD6 - AI/ML Data Usage (weight 1.5x): Is AI/ML use disclosed? Is training opt-out available?\nD7 - Retention & Deletion: Are specific retention periods and deletion procedures defined?\nD8 - DPA Completeness (weight 1.5x): Does the policy include Art. 28 required elements?\n\nWEIGHTED AVERAGE: D6 and D8 count 1.5x. Calculate weighted average.\nRISK TIER: 1.0-2.0 = HIGH, 2.1-3.5 = MEDIUM, 3.6-5.0 = LOW\n\nReturn this exact JSON structure:\n{\n  \"vendor\": \"<vendor name>\",\n  \"assessment_date\": \"<YYYY-MM-DD>\",\n  \"policy_url\": \"<url>\",\n  \"discovery_tier\": <1, 2, or 3>,\n  \"weighted_average\": <number>,\n  \"risk_tier\": \"HIGH|MEDIUM|LOW\",\n  \"is_ai_vendor\": <true|false>,\n  \"ai_training_risk\": <true|false>,\n  \"scores\": {\n    \"D1_data_minimization\": { \"score\": <1-5>, \"rationale\": \"<text>\", \"red_flags\": [\"<flag1>\", \"<flag2>\"] },\n    \"D2_sub_processor\": { \"score\": <1-5>, \"rationale\": \"<text>\", \"red_flags\": [] },\n    \"D3_subject_rights\": { \"score\": <1-5>, \"rationale\": \"<text>\", \"red_flags\": [] },\n    \"D4_transfer_mechanisms\": { \"score\": <1-5>, \"rationale\": \"<text>\", \"red_flags\": [] },\n    \"D5_breach_notification\": { \"score\": <1-5>, \"rationale\": \"<text>\", \"red_flags\": [] },\n    \"D6_ai_ml_usage\": { \"score\": <1-5>, \"rationale\": \"<text>\", \"red_flags\": [] },\n    \"D7_retention_deletion\": { \"score\": <1-5>, \"rationale\": \"<text>\", \"red_flags\": [] },\n    \"D8_dpa_completeness\": { \"score\": <1-5>, \"rationale\": \"<text>\", \"red_flags\": [] }\n  },\n  \"top_3_findings\": [\"<finding1>\", \"<finding2>\", \"<finding3>\"]\n}\n\nVendor: ${vendor}\nPolicy URL: ${policyUrl}\nAssessment Date: ${assessmentDate}\n\nPrivacy Policy Text:\n${policyText}`;\n\nreturn [{\n  json: {\n    folderId,\n    vendorName: vendor,\n    body: JSON.stringify({\n      model: \"claude-sonnet-4-20250514\",\n      max_tokens: 4000,\n      messages: [{ role: \"user\", content: prompt }]\n    })\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        -80
      ],
      "id": "8278eec8-7bbc-4126-951b-097d197fb7a6",
      "name": "🔧 Build AI Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        -80
      ],
      "id": "03bc8986-da27-40a7-827b-9957c4c74f57",
      "name": "🧠 AI Provider — Score Privacy Policy"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst rawText = response.content[0].text;\nconst cleaned = rawText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nconst assessment = JSON.parse(cleaned);\n\n// Thread folderId and vendorName forward from Build AI Request\nconst folderId = $('🔧 Build AI Request').first().json.folderId;\nconst vendorName = $('🔧 Build AI Request').first().json.vendorName;\n\nreturn [{ json: { ...assessment, folderId, vendorName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -80
      ],
      "id": "37ce88d5-5841-41c6-a4d4-ae9db3ffe073",
      "name": "📊 Parse Assessment JSON"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nconst riskColor = { 'HIGH': '#ff4444', 'MEDIUM': '#ffaa00', 'LOW': '#00ff88' };\nconst riskBg = { 'HIGH': '#2a0000', 'MEDIUM': '#2a1a00', 'LOW': '#002a1a' };\n\nconst scoreBar = (score) => '█'.repeat(score) + '░'.repeat(5 - score);\nconst scoreColor = (score) => {\n  if (score <= 1) return '#ff4444';\n  if (score <= 2) return '#ff8800';\n  if (score <= 3) return '#ffdd00';\n  return '#00ff88';\n};\n\nconst dimensionLabels = {\n  D1_data_minimization: 'D1 · DATA MINIMIZATION',\n  D2_sub_processor: 'D2 · SUB-PROCESSORS',\n  D3_subject_rights: 'D3 · SUBJECT RIGHTS',\n  D4_transfer_mechanisms: 'D4 · TRANSFER MECHANISMS',\n  D5_breach_notification: 'D5 · BREACH NOTIFICATION',\n  D6_ai_ml_usage: 'D6 · AI/ML DATA USAGE ★',\n  D7_retention_deletion: 'D7 · RETENTION & DELETION',\n  D8_dpa_completeness: 'D8 · DPA COMPLETENESS ★'\n};\n\nconst scoresHTML = Object.entries(data.scores || {}).map(([key, val]) => {\n  const label = dimensionLabels[key] || key;\n  const score = val.score;\n  const rationale = val.rationale || '';\n  const redFlags = (val.red_flags || []).map(f => `<li>⚠ ${f}</li>`).join('');\n  return `\n    <div class=\"dimension-card\" style=\"border-color: ${scoreColor(score)}\">\n      <div class=\"dim-header\">\n        <span class=\"dim-label\">${label}</span>\n        <span class=\"dim-score\" style=\"color: ${scoreColor(score)}\">${scoreBar(score)} ${score}/5</span>\n      </div>\n      <div class=\"dim-rationale\">${rationale}</div>\n      ${redFlags ? `<ul class=\"red-flags\">${redFlags}</ul>` : ''}\n    </div>\n  `;\n}).join('');\n\nconst top3HTML = (data.top_3_findings || []).map(f => `<div class=\"finding\">▶ ${f}</div>`).join('');\n\nconst discoveryBadge = data.discovery_tier ? `<span class=\"badge badge-tier\">🔍 DISCOVERED VIA TIER ${data.discovery_tier}</span>` : '';\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<title>Privacy Assessment — ${data.vendor}</title>\n<style>\n  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Share+Tech+Mono&display=swap');\n  :root { --bg: #0a0a0f; --panel: #12121a; --border: #2a2a3a; --text: #c8c8e8; --dim: #6060a0; --accent: #7700ff; --risk: ${riskColor[data.risk_tier] || '#ffaa00'}; --risk-bg: ${riskBg[data.risk_tier] || '#2a1a00'}; }\n  * { box-sizing: border-box; margin: 0; padding: 0; }\n  body { background: var(--bg); color: var(--text); font-family: 'Share Tech Mono', monospace; font-size: 13px; line-height: 1.6; padding: 32px 24px; max-width: 900px; margin: 0 auto; }\n  body::before { content: ''; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: repeating-linear-gradient(0deg, transparent, transparent 2px, rgba(0,0,0,0.15) 2px, rgba(0,0,0,0.15) 4px); pointer-events: none; z-index: 999; }\n  .header { text-align: center; border: 3px solid var(--accent); padding: 24px; margin-bottom: 32px; background: #0d0d18; }\n  .header::before { content: '◄ THE PRIVACY LENS ►'; display: block; font-family: 'Press Start 2P', monospace; font-size: 9px; color: var(--accent); margin-bottom: 16px; letter-spacing: 2px; }\n  .vendor-name { font-family: 'Press Start 2P', monospace; font-size: 18px; color: #fff; margin-bottom: 8px; text-shadow: 0 0 20px var(--accent); }\n  .assessment-date { color: var(--dim); font-size: 11px; }\n  .risk-banner { background: var(--risk-bg); border: 3px solid var(--risk); padding: 20px 24px; margin-bottom: 24px; display: flex; justify-content: space-between; align-items: center; }\n  .risk-label { font-family: 'Press Start 2P', monospace; font-size: 10px; color: var(--dim); }\n  .risk-tier { font-family: 'Press Start 2P', monospace; font-size: 22px; color: var(--risk); text-shadow: 0 0 16px var(--risk); }\n  .risk-score { font-family: 'Press Start 2P', monospace; font-size: 14px; color: var(--risk); text-align: right; }\n  .badges { display: flex; gap: 12px; margin-bottom: 24px; flex-wrap: wrap; }\n  .badge { border: 2px solid; padding: 6px 12px; font-family: 'Press Start 2P', monospace; font-size: 8px; }\n  .badge.ai { border-color: #ff00ff; color: #ff00ff; background: #1a001a; }\n  .badge.no-ai { border-color: #404060; color: #404060; background: #0d0d18; }\n  .badge.ai-risk { border-color: #ff4444; color: #ff4444; background: #1a0000; }\n  .badge-tier { border-color: #00c8ff; color: #00c8ff; background: #001a2a; }\n  .section { border: 2px solid var(--border); margin-bottom: 20px; background: var(--panel); }\n  .section-header { background: var(--border); padding: 10px 16px; font-family: 'Press Start 2P', monospace; font-size: 9px; color: var(--accent); letter-spacing: 1px; }\n  .section-body { padding: 16px; }\n  .finding { padding: 8px 0; border-bottom: 1px solid var(--border); color: #ffcc00; font-size: 12px; }\n  .finding:last-child { border-bottom: none; }\n  .dimension-card { border: 2px solid; margin-bottom: 12px; background: #0d0d18; padding: 14px 16px; }\n  .dim-header { display: flex; justify-content: space-between; align-items: center; margin-bottom: 8px; flex-wrap: wrap; gap: 8px; }\n  .dim-label { font-family: 'Press Start 2P', monospace; font-size: 8px; color: #aaaacc; }\n  .dim-score { font-family: 'Press Start 2P', monospace; font-size: 9px; white-space: nowrap; }\n  .dim-rationale { color: #8888aa; font-size: 12px; margin-bottom: 8px; }\n  .red-flags { list-style: none; padding: 0; }\n  .red-flags li { color: #ff6644; font-size: 11px; padding: 2px 0; }\n  .footer { text-align: center; margin-top: 32px; color: var(--dim); font-size: 10px; border-top: 2px solid var(--border); padding-top: 16px; font-family: 'Press Start 2P', monospace; font-size: 7px; line-height: 2; }\n  .pixel-divider { text-align: center; color: var(--accent); margin: 8px 0; font-size: 10px; letter-spacing: 4px; }\n</style>\n</head>\n<body>\n<div class=\"header\">\n  <div class=\"vendor-name\">${data.vendor || 'UNKNOWN VENDOR'}</div>\n  <div class=\"assessment-date\">ASSESSMENT DATE: ${data.assessment_date || 'N/A'}</div>\n</div>\n<div class=\"risk-banner\">\n  <div><div class=\"risk-label\">RISK TIER</div><div class=\"risk-tier\">${data.risk_tier || 'UNKNOWN'}</div></div>\n  <div style=\"text-align:right\"><div class=\"risk-label\">WEIGHTED AVG</div><div class=\"risk-score\">${data.weighted_average || 'N/A'} / 5</div></div>\n</div>\n<div class=\"badges\">\n  ${data.is_ai_vendor ? '<div class=\"badge ai\">⚡ AI VENDOR DETECTED</div>' : '<div class=\"badge no-ai\">○ NOT AI VENDOR</div>'}\n  ${data.ai_training_risk ? '<div class=\"badge ai-risk\">⚠ AI TRAINING RISK</div>' : ''}\n  ${discoveryBadge}\n</div>\n<div class=\"section\"><div class=\"section-header\">▶ TOP FINDINGS</div><div class=\"section-body\">${top3HTML || '<div class=\"finding\">No findings recorded.</div>'}</div></div>\n<div class=\"section\"><div class=\"section-header\">▶ DIMENSION SCORES</div><div class=\"section-body\">${scoresHTML || '<div>No scores available.</div>'}</div></div>\n<div class=\"pixel-divider\">· · · · · · · · · · · · · · · · · · · ·</div>\n<div class=\"footer\">\n  GENERATED BY THE PRIVACY LENS · PHASE 2 — BATCH MODE<br>\n  OPEN SOURCE TPRM AUTOMATION · github.com/conorrusso/privacy-risk-analyzer<br>\n  ${new Date().toISOString()}\n</div>\n</body>\n</html>`;\n\nconst htmlBuffer = Buffer.from(html, 'utf8');\nreturn [{ \n  json: { vendor: data.vendor, assessment_date: data.assessment_date, risk_tier: data.risk_tier, folderId: data.folderId },\n  binary: { htmlFile: { data: htmlBuffer.toString('base64'), mimeType: 'text/html', fileName: 'index.html' } }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -80
      ],
      "id": "2ff94760-1434-41b5-a3b8-45d2eeb8141f",
      "name": "🎮 Generate HTML Report"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "htmlFile"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        -176
      ],
      "id": "a6e1c65b-11b0-40b5-94c8-aa0b42b6be61",
      "name": "🖨️ Convert to PDF"
    },
    {
      "parameters": {
        "name": "={{ $('🎮 Generate HTML Report').first().json.vendor }}-privacy-assessment-{{ $('🎮 Generate HTML Report').first().json.assessment_date }}.pdf",
        "driveId": {
          "__rl": true,
          "value": "MyDrive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('🎮 Generate HTML Report').first().json.folderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        896,
        192
      ],
      "id": "0ee426af-5c9e-4218-a6b5-b2129d60f8af",
      "name": "🌐 Save PDF to Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "goGjaQCO0aHJ8wHa",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ JSON.stringify($('📊 Parse Assessment JSON').first().json, null, 2) }}",
        "name": "={{ $json.vendor }}-privacy-assessment-{{ $json.assessment_date }}.json",
        "driveId": {
          "__rl": true,
          "value": "MyDrive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.folderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        672,
        48
      ],
      "id": "0febbeac-c957-4607-819a-b19bab3a1fc8",
      "name": "💾 Save JSON to Vendor Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "goGjaQCO0aHJ8wHa",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ JSON.stringify({ vendor: $json.vendorName, domain: $json.domain, reason: $json.manualReviewReason, flaggedAt: $now }, null, 2) }}",
        "name": "=needs-manual-review-{{ $now.format('yyyy-MM-dd') }}.json",
        "driveId": {
          "__rl": true,
          "value": "MyDrive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1YOYAT1DxmLjFRfoN3irpm3xGbafVZv7_",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -672,
        144
      ],
      "id": "c690240e-a3f2-4eec-b0ce-b660edaefab4",
      "name": "🚩 Log to Manual Review",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "goGjaQCO0aHJ8wHa",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "console.log(\"Batch complete\");\nreturn [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3136,
        240
      ],
      "id": "bbe0b64e-90b7-46be-bab2-5cae23087596",
      "name": "✅ Batch Complete"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3136,
        16
      ],
      "id": "cdb862d7-bb6d-4e51-aab7-e9164782428f",
      "name": "Wait",
      "webhookId": "0242c3d2-b303-4ade-ba9e-f112df5596c3"
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.data || '';\n\n// Strip all script/style tags and HTML markup to get clean policy text\nlet text = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&#\\d+;/g, ' ')\n  .replace(/\\s{3,}/g, '\\n\\n')\n  .trim();\n\nconst ctx = $('🔗 Prepare Fetch Context').first().json;\n\nreturn [{\n  json: {\n    data: text,\n    policyUrl: ctx.policyUrl,\n    vendorName: ctx.vendorName,\n    folderId: ctx.folderId,\n    discoveryTier: ctx.discoveryTier\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        -80
      ],
      "id": "adc1314e-d6ad-420e-a8db-74eb854d1ab4",
      "name": "📄 Extract Policy Text"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c639480-2965-405d-9408-bddda520f8c0",
              "leftValue": "={{ $json.discovered }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2032,
        16
      ],
      "id": "2eea2883-c3d9-457f-9e17-b35f60eaf99f",
      "name": "✅ Tier 1 Found URL?"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    policyUrl: $json.policyUrl,\n    vendorName: $json.vendorName,\n    folderId: $json.folderId,\n    discoveryTier: $json.discoveryTier\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        -80
      ],
      "id": "eb1f0eeb-0115-4bfb-af53-21c680e24871",
      "name": "🔗 Prepare Fetch Context"
    }
  ],
  "pinData": {},
  "connections": {
    "🚀 Trigger — Run Batch Assessment": {
      "main": [
        [
          {
            "node": "📂 List All Vendor Folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📂 List All Vendor Folders": {
      "main": [
        [
          {
            "node": "🔍 Check If Assessment Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Check If Assessment Exists": {
      "main": [
        [
          {
            "node": "🗓️ Check Assessment Age",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗓️ Check Assessment Age": {
      "main": [
        [
          {
            "node": "✅ Skip If Already Assessed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Skip If Already Assessed?": {
      "main": [
        [
          {
            "node": "⏭️ Skip Vendor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔁 Loop Over Vendors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏭️ Skip Vendor": {
      "main": [
        [
          {
            "node": "🔁 Loop Over Vendors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔁 Loop Over Vendors": {
      "main": [
        [
          {
            "node": "✅ Batch Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 AI — Resolve Vendor Domain": {
      "main": [
        [
          {
            "node": "🗂️ Build URL Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗂️ Build URL Candidates": {
      "main": [
        [
          {
            "node": "🌐 Tier 1 — Try Common Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Tier 1 — Try Common Paths": {
      "main": [
        [
          {
            "node": "🔎 Check Tier 1 Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔎 Check Tier 1 Result": {
      "main": [
        [
          {
            "node": "✅ Tier 1 Found URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Tier 2 — Fetch robots.txt": {
      "main": [
        [
          {
            "node": "🔎 Parse robots.txt for Privacy URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔎 Parse robots.txt for Privacy URL": {
      "main": [
        [
          {
            "node": "🏠 Tier 3 — Scrape Homepage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏠 Tier 3 — Scrape Homepage": {
      "main": [
        [
          {
            "node": "🔎 Parse Homepage for Privacy Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔎 Parse Homepage for Privacy Link": {
      "main": [
        [
          {
            "node": "URL Discovered?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL Discovered?": {
      "main": [
        [
          {
            "node": "🔗 Prepare Fetch Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🚩 Log to Manual Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Fetch Privacy Policy": {
      "main": [
        [
          {
            "node": "📄 Extract Policy Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Build AI Request": {
      "main": [
        [
          {
            "node": "🧠 AI Provider — Score Privacy Policy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 AI Provider — Score Privacy Policy": {
      "main": [
        [
          {
            "node": "📊 Parse Assessment JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Parse Assessment JSON": {
      "main": [
        [
          {
            "node": "🎮 Generate HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎮 Generate HTML Report": {
      "main": [
        [
          {
            "node": "🖨️ Convert to PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "💾 Save JSON to Vendor Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🖨️ Convert to PDF": {
      "main": [
        [
          {
            "node": "🌐 Save PDF to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Save PDF to Drive": {
      "main": [
        [
          {
            "node": "🔁 Loop Over Vendors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚩 Log to Manual Review": {
      "main": [
        [
          {
            "node": "🔁 Loop Over Vendors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Save JSON to Vendor Folder": {
      "main": [
        [
          {
            "node": "🔁 Loop Over Vendors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "🧠 AI — Resolve Vendor Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 Extract Policy Text": {
      "main": [
        [
          {
            "node": "🔧 Build AI Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Tier 1 Found URL?": {
      "main": [
        [
          {
            "node": "🔗 Prepare Fetch Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🤖 Tier 2 — Fetch robots.txt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Prepare Fetch Context": {
      "main": [
        [
          {
            "node": "📥 Fetch Privacy Policy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "79eb027b-53e9-425c-b7ff-422e7223c89a",
  "meta": {
    "instanceId": "c3be1ad59fca6da901de0e93ad1256da8e8ca2cb37ef7c63b41ba594ba540d39"
  },
  "id": "n9dogIHGdDVEbVX1",
  "tags": []
}